@using System.Data;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



    if (IsPost)
    {
        DataSet ds = Session["xmlDataSet"] as DataSet;

        DataRow dr = ds.Tables[0].NewRow();


        dr["id"] = Request.Form["id"];
        dr["artist"] = Request.Form["artist"];
        dr["title"] = Request.Form["title"];
        dr["year"] = Request.Form["year"];
        dr["genre"] = Request.Form["genre"];
        dr["file"] = Request.Form["file"];

        ds.Tables[0].Rows.Add(dr);

        ds.WriteXml(Server.MapPath(@"~/App_Data/XMLFile1.xml"));
        Response.Redirect("Index");
 
    }

}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<h2>Toevoegen</h2>
<form method="post">
    <form action="" method="post">
        <table class="table">
            <tr>
                <td>Id</td>
                <td><input type="text" name="id" placeholder="Id" /></td>
            </tr>
            <tr>
                <td>Artist</td>
                <td><input type="text" name="artist" placeholder="Artist" /></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" placeholder="Title" /></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input type="text" name="year" placeholder="Year" /></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td><input type="text" name="genre" placeholder="Genre" /></td>
            </tr>
            <tr>
                <td>File</td>
                <td><input type="text" name="file" placeholder="File" /></td>
            </tr>
            <td><input type="submit" value="Opslaan" /></td>

        </table>
    </form>