@using System.Data;
@using C_sharp_Project.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 

    //Session["xmlDataSet"] = ds;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
<table class="table">
    @foreach (Song s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Title</td>
            <td><a href="Delete?id=@s.Id">Verwijderen</a></td>
            <td><a href="Wijzig?id=@s.Id"> Wijzigen</a></td>
        </tr>
    }

<h2>Index</h2>